*{
    background-color: black;
    text-align: center;
}

body{
    text-align: center;
    text-decoration-color: aliceblue;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: aqua;
}

h1{
    font-size: 70px;
    font-family: monospace;
    border-radius: 50%;
    
}
h2{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: coral;
    background-color: black;
}
.btn{
    padding: 20px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    color: coral;
    border-color: aqua;
    border-radius: 15px;
    text-transform: uppercase;
}
hr{
    border-radius: 50%;
    width: 200px;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
    
}




